In [11]:
import numpy as np
import pandas as pd
from sklearn. model_selection import train_test_split

In [12]:
df=pd.read_csv("tips.csv")

In [13]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [15]:
df.shape

(244, 7)

In [17]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [18]:
x = df.drop(columns = ['total_bill' ])## Input data
x.head(3)

    tip     sex smoker  day    time  size
0  1.01  Female     No  Sun  Dinner     2
1  1.66    Male     No  Sun  Dinner     3
2  3.50    Male     No  Sun  Dinner     3

In [19]:
y = df['total_bill' ]## target data
y.head(3)

0    16.99
1    10.34
2    21.01
Name: total_bill, dtype: float64

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=30)

In [21]:
print("Total data shape :" , df.shape)
print("--------------------------------" )
print("Input data(x) shape:" , x.shape)
print("x_train data shape:" , x_train. shape)
print("x_test data shape:" , x_test.shape)
print("---------------------------------")
print("Target data shape(y):" , y. shape)
print("y_train data shape :" , y_train.shape)
print("y_test data shape:" , y_test. shape)
print("----------------------------------")

Total data shape : (244, 7)
--------------------------------
Input data(x) shape: (244, 6)
x_train data shape: (195, 6)
x_test data shape: (49, 6)
---------------------------------
Target data shape(y): (244,)
y_train data shape : (195,)
y_test data shape: (49,)
----------------------------------