In [49]:
import numpy as np
import pandas as pd

In [50]:
# Encoding ---- > Transform your categorical data into Numerical data
# Normal Distribution convert.

In [51]:
df = pd.read_csv("covid_toy.csv")
df. head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [52]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [53]:
from sklearn.impute import SimpleImputer

In [54]:
si = SimpleImputer(strategy = 'mean')

In [55]:
df['fever'] = si.fit_transform(df[['fever']])

In [56]:
# df.isnull().sum()

In [57]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [58]:
# Encoding --- > transform data into Numerical format.
# gender -- > M , F ---- > 0 , 1

In [59]:
from sklearn.preprocessing import LabelEncoder

In [60]:
lb = LabelEncoder()

In [61]:
df['gender'] = lb.fit_transform(df['gender'])
df ['cough'] = lb.fit_transform(df[ 'cough' ])
df['city'] = lb.fit_transform(df['city' ])
df['has_covid'] = lb.fit_transform(df[ 'has_covid' ])

In [62]:
df. head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0

In [63]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid' ]

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
x_train, x_test, y_train , y_test = train_test_split(x,y, test_size=0.2,
random_state=42)

In [66]:
np.round(x_train.describe() , 2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.30
std    24.47    0.50    1.93   0.49   1.12
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [67]:
from sklearn.preprocessing import StandardScaler

In [68]:
sc= StandardScaler()

In [69]:
x_train_sc = sc.fit_transform(x_train)
# fit means Leran the parameters and
# transform means apply on that data .

In [70]:
np.round(x_train_sc.describe() , 2)

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [ ]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [ ]:
np.round(x_train_new.describe() , 2)

# (2).Normalization---> min_val=0  max_val=1

In [ ]:
np.round(x_train.describe() ,2)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [71]:
mn=MinMaxScaler()

In [72]:
x_train_mn = mn.fit_transform(x_train)

In [73]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)