In [23]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_csv("tips.csv")

In [30]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [31]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [32]:
from sklearn.preprocessing import LabelEncoder

In [36]:
lb=LabelEncoder()

In [37]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [38]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [39]:
x = df.drop(columns = ['total_bill'])
y = df['total_bill' ]

In [40]:
from sklearn. model_selection import train_test_split

In [41]:
x_train, x_test, y_train , y_test = train_test_split(x, y, test_size=0.2,
random_state=42)

In [42]:
np.round(x_train.describe() , 2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     3.09    0.65    0.38    1.71    0.27    2.57
std      1.43    0.48    0.49    0.93    0.45    0.94
min      1.00    0.00    0.00    0.00    0.00    1.00
25%      2.00    0.00    0.00    1.00    0.00    2.00
50%      3.00    1.00    0.00    2.00    0.00    2.00
75%      3.70    1.00    1.00    2.00    1.00    3.00
max     10.00    1.00    1.00    3.00    1.00    6.00

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
sc = StandardScaler()

In [45]:
x_train_sc = sc.fit_transform(x_train)

In [46]:
x_train_new = pd. DataFrame(x_train_sc , columns = x_train. columns)

In [47]:
np.round(x_train_new.describe() , 2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean    -0.00   -0.00    0.00    0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00    1.00    1.00
min     -1.46   -1.37   -0.79   -1.84   -0.61   -1.68
25%     -0.76   -1.37   -0.79   -0.76   -0.61   -0.61
50%     -0.06    0.73   -0.79    0.31   -0.61   -0.61
75%      0.43    0.73    1.26    0.31    1.64    0.45
max      4.85    0.73    1.26    1.39    1.64    3.65

In [48]:
from sklearn.preprocessing import MinMaxScaler

In [49]:
mn = MinMaxScaler()

In [50]:
x_train_mn = mn. fit_transform(x_train)

In [51]:
x_train_new = pd. DataFrame(x_train_mn , columns = x_train. columns)

In [52]:
np.round(x_train_new.describe() , 2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.65    0.38    0.57    0.27    0.31
std      0.16    0.48    0.49    0.31    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.33    0.00    0.20
50%      0.22    1.00    0.00    0.67    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00