In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("covid_toy.csv")

In [3]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
si = SimpleImputer()

In [9]:
df['fever'] = si.fit_transform(df[['fever']])

In [11]:
df. isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [12]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [13]:
df_label = df.copy()

In [14]:
df_label.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
lb = LabelEncoder()

In [18]:
df_label['gender'] = lb.fit_transform(df_label['gender'])
df_label['cough'] = lb.fit_transform(df_label['cough'])
df_label[' city'] = lb.fit_transform(df_label['city'])
df_label['has_covid'] = lb.fit_transform(df_label['has_covid'])

In [19]:
df_label.head()

   age  gender  fever  cough     city  has_covid   city
0   60       1  103.0      0  Kolkata          0      2
1   27       1  100.0      0    Delhi          1      1
2   42       1  101.0      0    Delhi          0      1
3   31       0   98.0      0  Kolkata          0      2
4   65       0  101.0      0   Mumbai          0      3

# (2). Ordinal Encoder

In [27]:
df_ordinal = df.copy()

In [28]:
df_ordinal.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [29]:
df_ordinal = df_ordinal.drop(columns=['age' , 'fever' , 'city' ])

In [30]:
df_ordinal.head(2)

  gender cough has_covid
0   Male  Mild        No
1   Male  Mild       Yes

In [31]:
from sklearn.preprocessing import OrdinalEncoder

In [33]:
oe = OrdinalEncoder(categories = [ ['Male', 'Female'],
                                  ['Mild' , 'Strong' ],
                                  ['Yes','No']])

In [34]:
df_oe = oe.fit_transform(df_ordinal)

In [35]:
df_new = pd.DataFrame(df_oe, columns = df_ordinal.columns)

In [37]:
df_new.head(2)

   gender  cough  has_covid
0     0.0    0.0        1.0
1     0.0    0.0        0.0

# (3). OneHot Encoding
gender(m,f) --- > create a new column of these sub-categories --- > C1(M),c2(F)

In [52]:
df_one = df.copy()

In [53]:
df_one.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [54]:
from sklearn.preprocessing import OneHotEncoder

In [55]:
oe = OneHotEncoder(drop='first' , sparse_output=False)

In [56]:
oe_arr=oe.fit_transform(df_one[['gender','cough','city','has_covid']])

In [71]:
# oe_arr

# (4). get_dummies

In [59]:
df_get = df. copy()

In [60]:
df_get.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [66]:
d=pd.get_dummies(df_get,columns = [ 'gender' , 'cough' , 'city' , 'has_covid' ],
               drop_first=True)

In [68]:
d.astype(int).head(3)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103,1,0,0,1,0,0
1,27,100,1,0,1,0,0,1
2,42,101,1,0,1,0,0,0

In [ ]:
# Data Preprocessing Steps-- >
# (1). Data dividation ---- >
# x,y
# x_train , x_test , y_train , y_test
# (2). Stadardiation --- > mean = 0 . std = 1 --- > Normal distribution
# (3). MinMaxScaling --- > min = 0 , max = 1 ---- > Data scaled format
# (4). Encoding --- > Transform your categorical data into Numerical data.
# (4a). Label---- > 1-D data convert.
# (4b) . Ordinal ---- > multi-dimensional data convert and here we can
# set our sub-categories.
# (4c). OneHot --- > column -- > sub-categories --- > New_column
# (4d). get_dummies --- > columns --- > sub-categories --- > New_column+column_name